.noPadding {
    padding: 0;
}

#topOfBioCol {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}


.bioScroll {
    scroll-behavior: smooth;
}


#bioCard {
    z-index: 5;
    margin: 2vh 2% 2vh 2%;
    padding: 1%;
    box-shadow: 
         inset 0 -3em 3em rgba(0,0,0,0.1), 
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  
  #bioCard:hover {
    opacity: 1;
  }



#mainBioContainer {
    
}

#topBioContainer {
    padding: 12vh 15vh 12vh 15vh;
}

.bioProfileImg {
    height: 30vh;
    width: 15vw;
    border-radius: 18%;
}


.bioBrainImg, .bioClockImg {
    height: 90%;
    width: 100%;
    border-radius: 50%;
}

#bioTextContainer {
    margin-top: 7vh;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

.bioResumeContainer {
    background: transparent;
    padding: 0;
}


.glowTitle {
    color: black;
    -webkit-animation-name: textGlow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: textGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes textGlow {
    0% {color: black;}
    50% {color: #84bbea;}
    100% {color: black;}
}

/* Standard syntax */
@keyframes textGlow {
    0% {color: black;}
    50% {color: #84bbea;}
    100% {color: black;}
}

.glowTitle:hover {
    cursor: pointer;
}

#resumeImg {
    height: 100%;
    width: 100%;
}


#subBioImg {
    height: 12vh;
    width: auto;
    border: white 5px solid;

}

.bioExperienceContainer {
    background:#fafafa;
    background: white;
    width: 100%;
    border-top: 1px solid rgba(199, 198, 198, 0.637);
    border-bottom: 1px solid rgba(199, 198, 198, 0.637);
    margin: 0 0 0 0;
    padding: 20vh 10vh 10vh 10vh;
}

.bioExperienceContainerTwo {
    padding: 7vh 10vh 7vh 10vh;
    background: #fafafa;
}


#viewAllBtn {

}

#bioModal {
    border: white 3vh solid;
    height: 70vh;
}

.resumeRow {
    width: 100%;
}

.resumeInnerContainer {
    margin-bottom: 10vh;
    padding: 5vh;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: white;
    margin: 0 ;
}


.bioExperienceTextContainer, .bioExperiencePhotoContainer, .bioExperienceContainerTwo{
    width: 100%;
}



.bioExperienceTitleLeft, .bioExperienceTitleRight, .bioExperienceTitleOnImg, .bioFreeTimeTitle {
    font-weight: bold;
    font-size: 5vh;
}

.bioExperienceTextLeft, .bioExperienceTextRight {
    font-size: 3vh;
}

.bioExperienceTextLeft, .bioExperienceTitleLeft {
    text-align: right;
}

.toDoIcon, .toDoText {
    font-size: 3vh;
    margin: 2vh 1vh 2vh 1vh;
    display: inline;
}

.globalTextFont {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;

}



@media only screen and (max-width: 960px) {
    .bioProfileImg {
        width: auto;
    }

    #topBioContainer {
        background: #fafafa;
        padding: 12vh 10vh 12vh 10vh;
    }
}


@media only screen and (max-width: 575px) {
    .bioGridRow {
        padding: 0 10vh 0 10vh;
    }

    .freeTimeCol {
        margin-top: 5vh;
    }
}


@media only screen and (max-width: 475px) {
    .bioGridRow {
        padding: 0 6vh 0 6vh;
    }
}


@media only screen and (max-width: 390px) {
    .bioGridRow {
        padding: 0 2vh 0 2vh;
    }
}


@media only screen and (max-width: 325px) {
    .bioGridRow {
        padding: 0 1vh 0 1vh;
    }
}


